<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="RestaurantDb"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RestaurantComenzi;Integrated Security=True;TrustServerCertificate=True;" />
	</connectionStrings>

	<appSettings>
		<add key="SumaMinimaDiscountY" value="150" />

		<add key="NumarComenziZ" value="5" />
		<add key="IntervalTimpZileT" value="30" />

		<add key="ProcentDiscountW" value="15" />

		<add key="ValoareMinimaFaraTransportA" value="50" />

		<add key="CostTransportB" value="15" />

		<add key="ReducereMeniuProcentX" value="10" />
		<add key="CantitateLimitaEpuizareC" value="10" />
	</appSettings>

</configuration>